<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Electron Angular Webpack Demo App">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Angular with Webpack</title>
    </head>

	<body>

		  <app-root>Loading...</app-root>
	</body>

</html>
